.column-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: rgb(228, 228, 228);
  padding: 10px 10px;
  border-radius: 5px;
}

.column-container .title {
  margin-bottom: 10px;
}

.column-container .tasks {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
